//em fontes baixadas no formato ttf, declare como truetype no format do fontface para o angular ter a correta leitura

@font-face {
  font-family: "Poppins";
  src: url("../styles/fonts/Poppins-Regular.ttf") format("truetype"),
    url("../styles/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../styles/fonts/Poppins-Medium.ttf") format("truetype"),
    url("../styles/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../styles/fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("../styles/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

$poppins: "Poppins", sans-serif;
$poppinsMedium: "Poppins-Medium", sans-serif;
