@import "../styles/fonts.scss";

//Font-familys
$Poppins: "Poppins", sans-serif;
@mixin poppins {
  font-family: $Poppins !important;
  font-weight: 400;
  font-style: normal;
}

$PoppinsMedium: "Poppins-Medium", sans-serif;
@mixin poppinsMedium {
  font-family: $PoppinsMedium !important;
  font-weight: 400;
  font-style: normal;
}

$PoppinsSemiBold: "Poppins-SemiBold", sans-serif;
@mixin poppinsSemiBold {
  font-family: $PoppinsSemiBold !important;
  font-weight: 600;
  font-style: normal;
}

//Colors
$color-black-primary: #202020;
$color-white-primary: #fff;

//Box Shadows
$box-shadow-primary: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
