@import "../styles/fonts.scss";

//Font-familys
$font-family-poppins: "Poppins", sans-serif;
$font-family-zen-dots: "Zen Dots", serif;

//Colors
$color-black-primary: #202020;
$color-white-primary: #fff;

//Box Shadows
$box-shadow-primary: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
