<footer>
  <div class="container_sections_footer">
    <section class="informacoes">
      <div class="info_footer_informacoes">
        <h1>Informações</h1>

        <p>
          Este é um site exemplo, criado com o único objetivo de testar novos
          conhecimentos e estratégias legais.

          <br />
          <br />

          Por isso,
          <strong>
            podem ocorrer certos erros caso você esteja, principalmente,
            acessando o site por um smartphone
          </strong>
          (embora eu esteja tentando deixá-lo o mais compatível possível,
          <strong>lembre-se que é somente um projeto simples para testes</strong
          >).

          <br />
          <br />

          Muito obrigado por ler!
        </p>

        <p class="atualizacao-da-pagina">
          <!--Adicionado por JS-->
        </p>
      </div>

      <div class="info_footer_objetivos">
        <h1>Objetivos</h1>

        <p>
          Testar o funcionamento do carrosel junto com arquivos de áudio,
          utilizando a incorporação do SoundCloud para sites.

          <br />
          <br />

          Também, testar novos modelos de menu e footer, bem como, a utilização
          de cores e demais estilos que possam ser reutilizados futuramente.

          <br />
          <br />

          <strong>Foram aplicadas:</strong>

          <br />
          <br />

          ▸ Melhorias no alinhamento dos elementos do carrossel;

          <br />
          <br />

          ▸ Melhorias de responsividade do site;

          <br />
          <br />

          ▸ Adição do tema escuro;

          <br />
          <br />

          ▸ Melhorias para facilitação da inclusão das músicas no array de forma
          mais simplificada.
        </p>
      </div>
    </section>

    <hr class="linha_footer" />

    <section class="contatos">
      <H1>Maurici0M</H1>

      <ul class="links_footer">
        <li class="rede_social_1">
          <a target="_blank" href="https://github.com/Maurici0M">
            <i class="fab fa-github"></i>
          </a>
        </li>

        <li class="rede_social_2">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/mauricio-marques-costa-994b25210/"
          >
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>

        <li class="rede_social_3">
          <a target="_blank" href="https://grid-da-noticia.vercel.app/"
            ><i class="fa-solid fa-award"></i>
          </a>
        </li>
      </ul>
    </section>

    <section class="creditos">
      <a
        target="_blank"
        href="https://translate.google.com.br/?hl=pt-BR&sl=auto&tl=pt&text=%E3%81%8C%E3%82%93%E3%81%B0%E3%82%8A%E3%81%BE%E3%81%97%E3%82%87%E3%81%86%EF%BC%81%20%3B)&op=translate"
      >
        <p>&copy; がんばりましょう！ 2024</p>
      </a>
    </section>
  </div>
</footer>
