<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Versão atual</h4>
        <ul>
          <li (click)="openModal('250ms', '150ms')">
            <a rel="noopener noreferrer" style="cursor: pointer;">{{ lastVersionUpdate }}</a>
          </li>
          <!-- <li>
            <a href="#" rel="noopener noreferrer">{{ lastUpdate }}</a>
          </li> -->
        </ul>
      </div>

      <div class="footer-col">
        <h4>Developer</h4>
        <ul>
          <li>
            <a
              href="https://github.com/Maurici0M/ang-carrossel-de-musicas/blob/main/README.md"
              target="_blank"
              rel="noopener noreferrer"
              >Documentação</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Veja também</h4>
        <ul>
          <li>
            <a
              href="https://carrossel-de-musicas.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
              >Carrossel de Músicas 1.0</a
            >
          </li>
          <li>
            <a
              href="https://grid-da-noticia.vercel.app/"
              target="_blank"
              rel="noopener noreferrer"
              >Grid da Notícia</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Acesse</h4>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/mauricio-marques-costa-994b25210/"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-linkedin"></i>LinkedIn</a
            >
          </li>

          <li>
            <a
              href="https://github.com/Maurici0M"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-github"></i>GitHub</a
            >
          </li>

          <li>
            <a
              href="https://github.com/Maurici0M/ang-carrossel-de-musicas"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-code-square"></i>Código Fonte</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
