<mat-toolbar class="mat-toolbar-menu">
  <header class="header-menu-toolbar container-content">
    <span class="site-logo">
      <i class="bi bi-file-earmark-music-fill"></i> {{ tittleToolbar }} 🎄
    </span>

    <span class="example-spacer"></span>
  </header>

  <!-- <div class="search-box">
    <input
      type="text"
      id="search"
      class="search-text"
      placeholder="Pesquisar..."
    />
    <a class="search-btn">
      <img
        class="loupe-blue"
        src="../../../assets/loupe-blue.svg"
        alt=""
        width="20"
        height="20"
      />
      <img
        class="loupe-white"
        src="../../../assets/loupe-white.svg"
        alt=""
        width="20"
        height="20"
      />
    </a>
  </div> -->
</mat-toolbar>
